*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: whitesmoke;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}
.col-1
{
    text-align: center;
    width: 34%;
    color: black;
}
.col-2
{
   flex-grow: 2;
   width: 34%;
   color: black;
}
.footer div h2{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: black;
}
.col-2 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
.footer .social-icons
{
    text-align: center;
    padding-bottom: 25px;
    color: orangered;
}
.footer .social-icons a{
    font-size: 34px;
    color: inherit;
    border: 1 px;
    width: 40px;
    height: 40px;
    Line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 60%;
    margin:0 20px 20px 0;
    transition: all 0.2s ;
}
.footer .social-icons a:hover
{
   color: rgb(220, 225, 245);
   background-color: rgb(235, 205, 255);
}
.footer div a
{
    color: rgb(0, 0, 0);
    text-align: center;
}