*{
    background-image: url(timer_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;

}
.clockDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}
li {
    font-size: 2.3rem;
    margin-right: 17px;
}
.countDown{
    display: flex;
    font-size: 3rem;
    text-align: "center";
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    letter-spacing: 10px;
    color: white;
}

.ulDiv, ul, li{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: white;
}
